/Server Source/.vs
/Server Source/GameServer/.vs
/Server Source/GameServer/Release
/Tools Source/GetMainInfo/GetMainInfo/Debug
/Tools Source/GetMainInfo/.vs
*.pdb
/Server Source/Release
/Server Source/Release
/Server Source/Release
/Server Source/Release
