/Server Source/.vs
/Server Source/GameServer/.vs
/Server Source/GameServer/Release
/Tools Source/GetMainInfo/GetMainInfo/Debug
/Tools Source/GetMainInfo/.vs
/Server Source/Release
/Server Source/ConnectServer/Release
/Tools Source/.vs
/.vs
/Release

*.obj
*.iobj
*.db
*.pdb
*.log
*.pch
*.ipdb
*.tlog
*.txt
*.log
